/* --- COLORS DARK --- */
* {
  --primary: #A2BF1A;
  --accent: #eeeeee;
  --black: #ebebeb;
  --light-grey: #3c3c3c;
  --middle-grey: #808080;
  --dark-grey: #9e9e9e;
  --white: #323232;
  --red: #de1d42;
  --orange: #ffc400;
  --green: #A2BF1A;
  --blue: #40a5e5;
  --redrgb: 222,29,66;
  --orangergb: 255,196,0;
  --greenrgb: 162,191,26;
  --bluergb: 64,165,229;
  --blackrgb: 0,0,0;
  --whitergb: 255,255,255;
  --primaryrgb: 162,191,26;
}
