$md-primary:  (
  50 : #f4f7e4,
  100 : #e3ecba,
  200 : #d1df8d,
  300 : #bed25f,
  400 : #b0c93c,
  500 : #a2bf1a,
  600 : #9ab917,
  700 : #90b113,
  800 : #86a90f,
  900 : #759b08,
  A100 : #efffc8,
  A200 : #e0ff95,
  A400 : #d1ff62,
  A700 : #caff48,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #e4e5e6,
  100 : #babfc1,
  200 : #8d9498,
  300 : #5f696e,
  400 : #3c484f,
  500 : #1a2830,
  600 : #17242b,
  700 : #131e24,
  800 : #0f181e,
  900 : #080f13,
  A100 : #56b6ff,
  A200 : #23a1ff,
  A400 : #0088ef,
  A700 : #007ad5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-warn: (
  50 : #fbe2e7,
  100 : #f5b7c2,
  200 : #ee889a,
  300 : #e75872,
  400 : #e13453,
  500 : #dc1035,
  600 : #d80e30,
  700 : #d30c28,
  800 : #ce0922,
  900 : #c50516,
  A100 : #ffeeef,
  A200 : #ffbbbf,
  A400 : #ff888e,
  A700 : #ff6f76,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
