<div class="container mt10">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <mat-card>

        <h2 class="text-center"> Saint Seiya - Legend of justice </h2>
        <form [formGroup]="knightSelectorForm">
          <mat-card-content>
            <div>
              <app-element-filter (elementFilter)="elementFilterChange($event)"></app-element-filter>
            </div>

            <div class="full-width">
              <mat-form-field floatLabel="always" color="accent" >
                <mat-label class="mat-label"> Chevalier </mat-label>
                <mat-select formControlName="name"  (selectionChange)="updateSelected($event.value)"
                            placeholder="Sélectionner un chevalier">

                  <mat-option>
                    <ngx-mat-select-search formControlName="knightFilter" placeholderLabel="Rechercher"
                                           noEntriesFoundLabel="Aucun résultat">
                    </ngx-mat-select-search>
                  </mat-option>

                  <ng-container *ngFor="let knight of filteredKnights | async">
                    <mat-option [value]="knight">{{ knight.name }} - {{knight?.constellationName}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
        </form>

        <div class="text-center details-container" *ngIf="knightSelectorForm.get('name')?.value">
          <app-knight-details [knight]="selectedKnight" [mappedKnights]="mappedKnights"></app-knight-details>
        </div>
      </mat-card>
    </div>
  </div>
</div>
