<div class="header-container">
  <div class="header">
    <div class="pr10"><img [src]="'assets/images/logo.webp'" alt="saint seiya logo"></div>
    <!-- <nav class="hidden-xs desktop">
      <button mat-button routerLink="/finance" routerLinkActive="current-link">Finance</button>
      <button mat-button routerLink="/volume" routerLinkActive="current-link">Volume</button>
    </nav>
     <div class="actions text-right">
      <button mat-button class="mb10 small logout-desktop" (click)="logout()"><mat-icon svgIcon="logout" class="mr5 font-size"></mat-icon>{{ 'LOGOUT' | translate }}</button>
      <button mat-icon-button class="ml10 hidden-md" (click)="logout()"><mat-icon svgIcon="logout"></mat-icon></button>
      <button type="button" class="language-switcher link" [matMenuTriggerFor]="languageMenu" *ngIf="languageService.getAvailableLanguages().length > 1 && languageService.getCurrentLanguage()">
        <span class="locale">language</span>
        <mat-icon svgIcon="arrow-down-1" class="font-size"></mat-icon>
      </button>
      <button mat-icon-button class="ml5" (click)="darkMode ? toggleLightMode() : toggleDarkMode()"><mat-icon svgIcon="light-mode-bright-dark-1"></mat-icon></button>
    </div> -->
  </div>
  <nav class="visible-xs">
    <button mat-button routerLink="/finance" routerLinkActive="current-link">Finance</button>
    <button mat-button routerLink="/volume" routerLinkActive="current-link">Volume</button>
  </nav>
</div>

<router-outlet></router-outlet>
