<div class="container mt10">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <mat-card>

        <h2 class="text-center">
          <span *ngIf="!selectedKnight">Ajouter</span>
          <span *ngIf="selectedKnight">Modifier</span> un chevalier </h2>

        <mat-card-content style="height: calc(100vh - 150px); overflow: auto">
          <form [formGroup]="knightForm">
          <div class="full-width">
              <mat-form-field floatLabel="always" color="accent">
                <mat-label class="mat-label"> Chevalier</mat-label>
                <mat-select formControlName="knightFilter"
                            placeholder="Sélectionner un chevalier">

                  <mat-option>
                    <ngx-mat-select-search formControlName="knightFilter" placeholderLabel="Rechercher"
                                           noEntriesFoundLabel="Aucun résultat">
                    </ngx-mat-select-search>
                  </mat-option>

                  <ng-container *ngFor="let knight of filteredKnights | async">
                    <mat-option [value]="knight">{{ knight.name }} - {{knight?.constellationName}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

          </div>


            <fieldset class="with-legend">
              <legend>Info générales</legend>
              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Identifiant</mat-label>
                    <input matInput formControlName="id" autocomplete="off" name="id">
                  </mat-form-field>
                </div>
              </div>

              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name" autocomplete="off" name="name">
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Complément</mat-label>
                    <input matInput formControlName="constellationName" autocomplete="off" name="constellationName">
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label class="mat-label"> Spécificité</mat-label>
                    <mat-select formControlName="specificity">
                      <ng-container *ngFor="let specificity of knightSpecificities">
                        <mat-option [value]="specificity.value">{{ specificity.viewValue }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Classe & Élément</legend>
              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label class="mat-label"> Classe</mat-label>
                    <mat-select formControlName="knightClass">
                      <ng-container *ngFor="let kClass of knightClass">
                        <mat-option [value]="kClass.value">
                          <div class="flex display-flex-center">
                            {{ kClass.viewValue }}<img class="ml20" style="height: 30px" alt="knight_class"
                                                       [src]="'assets/images/knight_class/' + kClass?.value + '.png'">
                          </div>
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label class="mat-label"> Élément</mat-label>
                    <mat-select formControlName="element">
                      <ng-container *ngFor="let knightElement of knightElements">
                        <mat-option [value]="knightElement.value">
                          <div class="flex display-flex-center">
                            {{ knightElement.viewValue }}<img class="ml20" style="height: 30px" alt="element"
                                                              [src]="'assets/images/element/' + knightElement?.value + '.png'">
                          </div>

                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Artéfacts</legend>
              <ng-container formArrayName="artefacts">

                <div *ngFor="let artefact of artefacts?.controls; let i=index">
                  <div [formGroupName]="i">
                    <fieldset class="with-legend">
                      <legend>Artefact {{i + 1}}</legend>

                      <div class="flex" style="align-items: center">
                        <div class="w120">
                          <ng-container *ngIf="artefacts?.value[i].id; else noArtefact">
                            {{mappedArtefacts?.[artefacts?.value[i].id]?.name}}
                          </ng-container>

                          <ng-template #noArtefact>
                            <mat-form-field class="full-width">
                              <mat-label class="mat-label"> Artefact</mat-label>
                              <mat-select formControlName="id">
                                <ng-container *ngFor="let artefact of artefactsData">
                                  <mat-option [value]="artefact.id">
                                    <div class="flex display-flex-center">
                                      {{ artefact.name }}<img class="ml20" style="height: 30px" alt="artefact"
                                                              [src]="'assets/images/artefacts/' + artefact?.images[0]">
                                    </div>
                                  </mat-option>
                                </ng-container>
                              </mat-select>
                            </mat-form-field>
                          </ng-template>
                        </div>

                        <div class="flex-evenly">
                          <mat-checkbox [disabled]="checkDisabledRecommendedArtefact(i)"
                                        formControlName="recommended">
                            Recommandé
                          </mat-checkbox>
                        </div>

                        <div class="flex-evenly">
                          <button mat-stroked-button class="small" color="warn" type="button"
                                  (click)="removeArtefact(i)">
                            <mat-icon class="font-size pt5 pb5">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </ng-container>

              <div class="text_right mt20">
                <button mat-flat-button class="small" color="primary" type="button" (click)="addArtefact()">
                  <mat-icon class="font-size">add</mat-icon>
                  Ajouter un artefact
                </button>
              </div>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Constellation & armure recommandées</legend>
              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Constellation recommandée</mat-label>
                    <input matInput formControlName="recommendedConstellationLevel" type="number" min="0" max="9"
                           autocomplete="off"
                           name="id">
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Armure recommandée</mat-label>
                    <input matInput formControlName="recommendedArmourLevel" type="number" min="0"
                           [max]="(knightForm.get('element').value === 'LUMIERE' || knightForm.get('element').value === 'OBSCURITE') ? 40 : 30"
                           autocomplete="off" name="id">
                  </mat-form-field>
                </div>
              </div>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Spécialités</legend>

              <ng-container formArrayName="specialties">

                <div *ngFor="let specialty of specialties?.controls; let i=index">
                  <fieldset class="with-legend">
                    <legend>Spécialité {{i + 1}}</legend>

                    <div class="flex" style="align-items: center">

                      <mat-form-field class="full-width">
                        <mat-label>Spécialité</mat-label>
                        <textarea matInput rows="1" [formControlName]="i" type="text" autocomplete="off"
                                  name="i"></textarea>

                      </mat-form-field>


                      <div class="flex-evenly ml10">
                        <button mat-stroked-button class="small" color="warn" type="button"
                                (click)="removeSpecialty(i)">
                          <mat-icon class="font-size pt5 pb5">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="text_right mt20">
                  <button mat-flat-button class="small" color="primary" type="button" (click)="addSpecialty()">
                    <mat-icon class="font-size">add</mat-icon>
                    Ajouter une spécialité
                  </button>
                </div>
              </ng-container>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Arayashiki</legend>

              <ng-container formArrayName="arayas">

                <div *ngFor="let araya of arayas?.controls; let i=index">
                  <div [formGroupName]="i">
                    <fieldset class="with-legend">
                      <legend>Arayashiki {{i + 1}}</legend>

                      <div class="flex" style="align-items: center">
                        <div>
                          <div class="w175">
                            <ng-container *ngIf="arayas?.value[i].id; else noAraya">
                              {{mappedArayas?.[arayas?.value[i].id]?.name}}
                            </ng-container>


                            <ng-template #noAraya>
                              <mat-form-field class="full-width">
                                <mat-label class="mat-label"> Araya</mat-label>
                                <mat-select formControlName="id">
                                  <ng-container *ngFor="let araya of arayasData">
                                    <mat-option [value]="araya.id" [disabled]="checkDisabledExistingAraya(araya.id)">
                                      <div class="flex display-flex-center">
                                        {{ araya.name }}<img class="ml20" style="height: 35px" alt="araya"
                                                             [src]="'assets/images/arayas/' + araya?.images[0]">
                                      </div>
                                    </mat-option>
                                  </ng-container>
                                </mat-select>
                              </mat-form-field>
                            </ng-template>
                          </div>

                          <div class="flex-evenly">
                            <mat-checkbox formControlName="recommended">Recommandé</mat-checkbox>
                            <!-- (change)="displayValueChange($event, 'FREE_TEXT_AREAS', i)">{{ 'FORM.DISPLAY'  }}</mat-checkbox> -->
                          </div>
                        </div>

                        <div>
                          <img class="ml10" style="height: 45px" alt="element"
                               [src]="'assets/images/arayas/' + mappedArayas?.[arayas?.value[i].id]?.images[0]">
                        </div>

                        <div class="flex-evenly">
                          <button mat-stroked-button class="small" color="warn" type="button"
                                  (click)="removeAraya(i)">
                            <mat-icon class="font-size pt5 pb5">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>

                <div class="text_right mt20">
                  <button mat-flat-button class="small" color="primary" type="button" (click)="addAraya()">
                    <mat-icon class="font-size">add</mat-icon>
                    Ajouter un arayashiki
                  </button>
                </div>
              </ng-container>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Images</legend>
              <ng-container formArrayName="images">

                <div *ngFor="let image of images?.controls; let i=index">
                  <fieldset class="with-legend">
                    <legend>Image {{i + 1}}</legend>

                    <div class="flex" style="align-items: center">

                      <mat-form-field class="full-width">
                        <mat-label>Image</mat-label>
                        <input matInput [formControlName]="i" type="text" autocomplete="off" name="i">
                      </mat-form-field>


                      <div class="flex-evenly ml10">
                        <button mat-stroked-button class="small" color="warn" type="button"
                                (click)="removeImage(i)">
                          <mat-icon class="font-size pt5 pb5">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="text_right mt20">
                  <button mat-flat-button class="small" color="primary" type="button" (click)="addImage()">
                    <mat-icon class="font-size">add</mat-icon>
                    Ajouter une image
                  </button>
                </div>
              </ng-container>
            </fieldset>
          </form>
        </mat-card-content>

        <mat-card-actions>
          <div class="text-right pr8">
            <button mat-flat-button type="button" class="mr10" (click)="resetForm()">Annuler</button>
            <button mat-flat-button color="primary" [disabled]="!knightForm.dirty || !knightForm.valid"
                    (click)="selectedKnight ? save() : addNew()">Enregistrer
            </button>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>
