<div class="container mt10">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <mat-card>

        <h2 class="text-center"> Saint Seiya - Legend of justice </h2>
        <h2 class="text-center"> Ajouter / Modifier un chevalier </h2>
        <form [formGroup]="knightForm">
          <mat-card-content>
            <fieldset class="with-legend">
              <legend>Info générales</legend>
              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Identifiant</mat-label>
                    <input matInput formControlName="id" autocomplete="off" name="id">
                  </mat-form-field>
                </div>
              </div>

              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name" autocomplete="off" name="name">
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Complément</mat-label>
                    <input matInput formControlName="constellationName" autocomplete="off" name="constellationName">
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label class="mat-label"> Spécificité</mat-label>
                    <mat-select formControlName="specificity">
                      <ng-container *ngFor="let specificity of knightSpecificities">
                        <mat-option [value]="specificity.value">{{ specificity.viewValue }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Classe & Élément</legend>
              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label class="mat-label"> Classe</mat-label>
                    <mat-select formControlName="knightClass">
                      <ng-container *ngFor="let kClass of knightClass">
                        <mat-option [value]="kClass.value">
                          <div class="flex display-flex-center">
                            {{ kClass.viewValue }}<img class="ml20" style="height: 30px" alt="knight_class"
                                                       [src]="'assets/images/knight_class/' + kClass?.value + '.png'">
                          </div>
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label class="mat-label"> Élément</mat-label>
                    <mat-select formControlName="element">
                      <ng-container *ngFor="let knightElement of knightElements">
                        <mat-option [value]="knightElement.value">
                          <div class="flex display-flex-center">
                            {{ knightElement.viewValue }}<img class="ml20" style="height: 30px" alt="element"
                                                              [src]="'assets/images/element/' + knightElement?.value + '.png'">
                          </div>

                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Artéfacts</legend>

              <ng-container formArrayName="artefacts">

                <div *ngFor="let artefact of artefacts?.controls; let i=index">
                  <div [formGroupName]="i">
                    <fieldset class="with-legend">
                      <legend>Artefact {{i + 1}}</legend>

                      <div class="flex" style="align-items: center">
                        <div class="w150">
                          {{mappedArtefacts?.[artefacts?.value[i].id]?.name}}
                        </div>

                        <div class="flex-evenly">
                          <mat-checkbox [disabled]="checkDisabledRecommendedArtefact(i)" formControlName="recommended">Recommandé</mat-checkbox>
                          <!-- (change)="displayValueChange($event, 'FREE_TEXT_AREAS', i)">{{ 'FORM.DISPLAY'  }}</mat-checkbox> -->
                        </div>

                        <div class="flex-evenly">
                          <button mat-stroked-button class="small" color="warn" type="button"
                                  (click)="removeArtefact(i)">
                            <mat-icon class="font-size pt5 pb5">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>

                <div class="text_right mt20">
                  <button mat-flat-button class="small" color="primary" type="button" (click)="addArtefact()">
                    <mat-icon class="font-size">add</mat-icon>
                    Ajouter un artefact
                  </button>
                </div>
              </ng-container>
            </fieldset>

            <fieldset class="with-legend">
              <legend>Constellation & armure recommandées</legend>
              <div class="row no-margin">
                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Constellation recommandée</mat-label>
                    <input matInput formControlName="minConstellationLevel" type="number" max="9" autocomplete="off"
                           name="id">
                  </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Armure recommandée</mat-label>
                    <input matInput formControlName="minArmourLevel" type="number"
                           [max]="(knightForm.get('element').value === 'LUMIERE' || knightForm.get('element').value === 'OBSCURITE') ? 40 : 30"
                           autocomplete="off" name="id">
                  </mat-form-field>
                </div>
              </div>
            </fieldset>

            <mat-card-actions>
              <div class="text-right pr8">
                <button mat-flat-button type="button" class="mr10" (click)="resetForm()">Annuler</button>
                <button mat-flat-button color="primary" (click)="save()">Enregistrer</button>
              </div>
            </mat-card-actions>
          </mat-card-content>
        </form>

        <div class="text-center details-container" *ngIf="knightForm.get('name')?.value">
          <app-knight-details [knight]="selectedKnight"></app-knight-details>
        </div>
      </mat-card>
    </div>
  </div>
</div>
