<div>
  <div class="row no-margin mat-h2 mb5">
    {{ knight?.name }}
  </div>

  <div class="row no-margin mat-h2 mb10">
    Spécificité: {{ mappedSpecificities[knight?.specificity] }}
  </div>

  <div class="row no-margin">
    <div class="col-sm-3 col-md-4 col-lg-2 flex" style="display: flex;flex-direction: column;" *ngIf="knight">
      <!--  Classe & élément -->
      <div class="semi-rounded-box" style="display: flex;justify-content: space-around">
        <img style="height: 50px;"
             [src]="knight?.knightClass ? 'assets/images/knight_class/' + knight?.knightClass + '.png' : 'assets/images/no-image.png'">

        <img style="height: 50px;"
             [src]="knight?.element ? 'assets/images/element/' + knight?.element + '.png' : 'assets/images/no-image.png'">
      </div>

      <!--  Artéfacts -->
      <div class="semi-rounded-box mt10">
        <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
          <ng-container *ngFor="let artefact of knight?.artefacts">
            <div class="col-sm-6 col-md-6 display-flex-center" style="flex-direction: column;">
              <img style="height: 50px;" [ngClass]="{'rainbow': artefact.recommended}"
                   [src]=" artefact?.id ? 'assets/images/artefacts/' + (artefact['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'">
              <span class="pt10"
                    style="font-size: 10px; width: 50px;line-height: normal;">{{mappedArtefacts[artefact?.id].name}}</span>
            </div>
          </ng-container>
        </div>

      </div>

<!--      &lt;!&ndash;  Araya &ndash;&gt;-->
<!--      <div class="semi-rounded-box mt10">-->
<!--        <div class="row no-margin" style="display: flex;flex-wrap: wrap;">-->
<!--          <ng-container *ngFor="let araya of knight?.arayas">-->
<!--            <div class="col-md-6 display-flex-center pb10" style="flex-direction: column;">-->
<!--              <img style="height: 100px;" [ngClass]="{'rainbow': araya.recommended}"-->
<!--                   [src]=" araya?.id ? 'assets/images/arayas/' + (araya['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'">-->
<!--              <span class="pt10"-->
<!--                    style="font-size: 10px; width: 50px;line-height: normal;">{{mappedArayas[araya?.id]?.name}}</span>-->
<!--            </div>-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <div class="col-sm-9 col-md-8 col-lg-10 flex">
      <img style="width: 100%;"
           [src]= "(knight.images && knight.images.length > 0 ? 'assets/images/knights/' + knight?.images[0] : 'assets/images/no-image.png')" >
    </div>
  </div>

  <div class="row no-margin">
    <!--  Araya -->
    <div class="semi-rounded-box mt10">
      <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
        <ng-container *ngFor="let araya of knight?.arayas">
          <div class="col-md-2 display-flex-center pb10" style="flex-direction: column;">
            <img style="height: 100px;" [ngClass]="{'rainbow': araya.recommended}"
                 [src]=" araya?.id ? 'assets/images/arayas/' + (araya['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'">
            <span class="pt10"
                  style="font-size: 10px; width: 50px;line-height: normal;">{{mappedArayas[araya?.id]?.name}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!--<div>-->
<!--  &lt;!&ndash;  Spécificité: {{ getSpecificity(knight?.specificity) }}&ndash;&gt;-->
<!--  Spécificité: {{ mappedSpecificities[knight?.specificity] }}-->
<!--</div>-->



