<div>
  <div>
    <div class="col-xs-8">
      <div class="row no-margin mat-h1 mb5">
        {{ knight?.name }}
      </div>
      <div class="row no-margin mat-h3 mb5">
        {{ knight?.constellationName }}
      </div>

      <div class="row no-margin mat-h3 mb10">
        Spécificité: {{ mappedSpecificities[knight?.specificity] }}
      </div>
    </div>

    <div class="col-xs-4 knight-img-mobile">
      <div class="mb10 flex">
        <img style="width: 100%;"
             [alt]= "(knight.images && knight.images.length > 0 ?
           'assets/images/knights/' + knight.images[0] : 'assets/images/no-image.png')"
             [src]= "(knight.images && knight.images.length > 0 ?
           'assets/images/knights/' + knight.images[0] : 'assets/images/no-image.png')" >
        <!--           'https://at-the-villa.com/ssloj/knight_illustrations/' + knight.images[0] : 'assets/images/no-image.png')" >-->
      </div>
    </div>
  </div>


  <div class="row no-margin">
    <div class="col-sm-3 col-md-4 col-lg-4 flex" style="display: flex;flex-direction: column;" *ngIf="knight">
      <div class="row no-margin">
        <!--  Classe & élément -->
        <div class="semi-rounded-box col-xs-5" style="display: flex;justify-content: space-around">
          <div class="display-flex-center" style="flex-direction: column;">
            <img style="height: 50px;" [alt]="knight?.knightClass ? 'assets/images/knight_class/' + knight?.knightClass + '.png' : 'assets/images/no-image.png'"
                 [src]="knight?.knightClass ? 'assets/images/knight_class/' + knight?.knightClass + '.png' : 'assets/images/no-image.png'">

            <span class="pt5 pb5"
                  style="font-size: 10px; width: 50px;line-height: normal;">{{ mappedKnightClass[knight?.knightClass] }}</span>
          </div>

          <div class="display-flex-center" style="flex-direction: column;">
            <img style="height: 50px;" [alt]="knight?.element ? 'assets/images/element/' + knight?.element + '.png' : 'assets/images/no-image.png'"
                 [src]="knight?.element ? 'assets/images/element/' + knight?.element + '.png' : 'assets/images/no-image.png'">

            <span class="pt5 pb5"
                  style="font-size: 10px; width: 50px;line-height: normal;">{{ mappedKnightElement[knight?.element] }}</span>
          </div>
        </div>

        <!--  Artéfacts -->
        <div class="semi-rounded-box col-xs-offset-1 col-xs-6" *ngIf="knight?.artefacts?.length > 0">
          <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
            <ng-container *ngFor="let artefact of knight?.artefacts">
              <div class=" col-xs-4 col-sm-6 col-md-6 display-flex-center" style="flex-direction: column;">
                <img class="artefact-img" [ngClass]="{'rainbow': artefact.recommended}"
                     [alt]=" artefact?.id ? 'assets/images/artefacts/' + (artefact['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'"
                     [src]=" artefact?.id ? 'assets/images/artefacts/' + (artefact['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'">
                <span class="pt5 pb5"
                      style="font-size: 10px; width: 50px;line-height: normal;">{{mappedArtefacts[artefact?.id]?.name}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>


      <!--  MIN CONSTELLATION LEVEL -->
      <div class="semi-rounded-box mt10" *ngIf="knight?.minConstellationLevel">
        <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
          <div  class="text-center full-width">Constellation recommandée</div>
          <div class="text-center full-width">{{knight?.minConstellationLevel}}</div>
        </div>
      </div>

      <!--  MIN ARMOUR LEVEL -->
      <div class="semi-rounded-box mt10" *ngIf="knight?.minArmourLevel">
        <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
          <div  class="text-center full-width">Armure recommandée</div>
          <div class="text-center full-width">{{knight?.minArmourLevel}}</div>
        </div>
      </div>

      <!--  SPECIALITIES -->
      <div class="semi-rounded-box mt10 mb10" *ngIf="knight?.specialties?.length > 0">
        <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
          <div  class="text-center full-width">Spécialités</div>
          <ng-container *ngFor="let specialty of knight?.specialties">
            <div class="text-left small">
              . {{specialty}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="hidden-xs col-sm-9 col-md-8 col-lg-offset-1 col-lg-7 flex">
      <div style="width: 60%; margin: auto;">
        <img style="width: 100%;"
             [alt]= "(knight.images && knight.images.length > 0 ?
           'assets/images/knights/' + knight.images[0] : 'assets/images/no-image.png')"
             [src]= "(knight.images && knight.images.length > 0 ?
           'assets/images/knights/' + knight.images[0] : 'assets/images/no-image.png')" >
        <!--           'https://at-the-villa.com/ssloj/knight_illustrations/' + knight.images[0] : 'assets/images/no-image.png')" >-->
      </div>
    </div>
  </div>

  <div class="row no-margin">
    <!--  Araya -->
    <div class="semi-rounded-box" *ngIf="knight?.arayas">
      <div class="row no-margin" style="display: flex;flex-wrap: wrap;">
        <ng-container *ngFor="let araya of knight?.arayas">
          <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 display-flex-center pb10" style="flex-direction: column;">
            <img style="height: 100px;" [ngClass]="{'rainbow': araya.recommended}"
                 [alt]=" araya?.id ? 'assets/images/arayas/' + (araya['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'"
                 [src]=" araya?.id ? 'assets/images/arayas/' + (araya['id'])?.toLowerCase() + '.png' : 'assets/images/no-image.png'">
            <span class="pt10"
                  style="font-size: 10px; width: 50px;line-height: normal;">{{mappedArayas[araya?.id]?.name}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!--<div>-->
<!--  &lt;!&ndash;  Spécificité: {{ getSpecificity(knight?.specificity) }}&ndash;&gt;-->
<!--  Spécificité: {{ mappedSpecificities[knight?.specificity] }}-->
<!--</div>-->



