// @import "./styles/colors";

.artefact-img {
  height: 50px;
}

@media (max-width: 767px) {
  .artefact-img {
    height: 40px;
  }
}

@media (min-width: 768px) {
  .knight-img-mobile, {
    display: none !important;
  }
}

.semi-rounded-box {
  border: 2px solid #d8d8d8;
  border-radius: 10px 0;
  padding: 5px;
}


// Bordure arc en ciel animée
.rainbow {
  --angle: 0deg;
  border: 3px solid;
  padding: 1px;
  border-image: conic-gradient(from var(--angle), yellow, lime, aqua, magenta, magenta, aqua, lime, yellow) 1;

  animation: 7s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

