@use '@angular/material' as mat;
@import "styles/colors";
@import "styles/variables";
@import "styles/fonts";
@import "styles/resets";
@import 'styles/material.theme';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other pages in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette($md-primary);
$app-accent: mat.define-palette($md-accent);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);

// Typography
//$custom-typography: mat-typography-config(
//  $font-family: 'Karla'
//);
//@include angular-material-typography($custom-typography);
@import "styles/angular_typography";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);


@import "styles/mixins";
@import "styles/texts";
@import "styles/buttons";
@import "styles/utils";
@import "styles/bootstrap_grid";
@import "styles/base";

//html {
//  @import "styles/commons";
//  @import "styles/_mat-table-responsive.directive.scss";
//}

//html.dark {
html {
  @import "styles/colors-dark";

  // Create the theme object (a Sass map containing all of the palettes).
  $dark-app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);
  @include mat.all-component-themes($dark-app-theme);

  @import "styles/commons";
  @import "styles/_mat-table-responsive.directive.scss";
}
